* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: url(https://i.imgur.com/PLqQzbT.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header{
    height: 60px;
    background: rgb(0,123,184);
background: linear-gradient(130deg, rgba(0,123,184,0.36) 0%, rgba(235,239,245,0.26) 20%, rgba(235,239,245,0.26) 80%, rgba(0,123,184,0.36) 100%); 
}
.container{
    height: 100%;
    width: 80%;
    margin: auto;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container img{
    margin-top: 8px;
    height: 44px;
    width: 122px;
}
.navbar{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}
.navbar li{
    color: #007CB8;
}
.navbar li a{
    color: #007CB8;
    text-decoration: none;
    padding: 12px;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.navbar li a:hover{
    background-color: #007CB8;
    color: white;
}
.navbar .active {
    font-weight: bolder;
}

.banner{
    height: 600px;
    /* background-image: url(https://i.imgur.com/PLqQzbT.jpg); */
    background-size: cover;
    background-position: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    margin-right: 300px;
    width: 10%;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.proposito{
    margin: auto;
    border-radius: 15px;
    height: 500px;
    width: 80vw;
    background-color: #e5e5e5;
}

.proposito .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proposito .container h2{
    color:#007CB8;
    border-radius: 25px;
}
.proposito .container .mvv{
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.proposito .container .mvv div img{
    height: 100px;
    width: 100px;
}
.proposito .container .mvv div{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.proposito .container .mvv div h3{
    color:#007CB8;
    font-weight: bolder;
    margin: 25px 0;
}
.proposito .container .mvv div p{
    font-weight: bold;
}
.footer{
    background-color: #007CB8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: white;
}
.altura{
    height: 100px;
}